* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto; /* Centers the container horizontally*/
    max-width: 900px; /* Sets a max width of 900px*/
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}