:root {
    --primary-color: #FAC132;
    --text-xl: 2.5rem;
    --text-lg: 1.5rem;
}

/* para sa mga may same na background color */
.btn-primary {
    background-color: var(--primary-color);
}

/* para naman to sa mga color na same */
.text-primary {
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

.navbar {
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(91, 96, 101, 0.2) 0px 8px 24px;
}

.navbar .img-logo {
    height: 50px;
}

ul {
    list-style-type: none;
}

li, a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: black;
    padding: 10px;
}

/* HERO */
.hero, .about {
    height: 90vh;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-tagline {
    font-size: var(--text-xl);
    margin: 50px;
}

.hero-details {
    margin-left: 80px;
}

.hero-details p, .section-details p {
    text-align: justify;
    margin-bottom: 50px;
}

.hero-image {
    height: 70vh;
}

.hero-image img{
    height: 100%;
}
/* HERO */

/* Section */
.section-details {
    margin-left: 50px;
}
/* section */

/* UTILS */
.btn {
    padding: 10px 20px 10px 20px;
    color: white;
}
/* UTILS */