:root {
    --primary-color: #FAC132;
    --dark-color: #212121;
    --text-xl: 2.5rem;
    --text-lg: 2rem;
    --text-md: 1.25rem;
}

/* UTILS */
.btn {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.card {
    width: 20vw;
    box-shadow: 10px 10px 8px rgba(91, 96, 101, 0.4);
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

.card-image {
    height: 25vh;
    text-align: center;
    display: block;
}

.card-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card-content {
    padding: 8px;
    text-align: center;
    margin-bottom: 16px;
}

.card-menu-title {
    color: var(--primary-color);
    font-size: var(--text-md);
}
/* UTILS */

/* para sa mga may same na background color */
.btn.btn-primary {
    background-color: var(--primary-color);
}

.btn.btn-dark, .bg-dark {
    background-color: var(--dark-color);
}

/* para naman to sa mga color na same */
.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

.navbar {
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(91, 96, 101, 0.2) 0px 8px 24px;
}

.navbar .img-logo {
    height: 50px;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: black;
    padding: 10px;
}

/* HERO */
.hero,
.about {
    height: 90vh;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-tagline {
    font-size: var(--text-xl);
    margin: 50px;
}

.hero-details {
    margin-left: 80px;
}

.hero-details p,
.section-details p {
    text-align: justify;
    margin-bottom: 50px;
}

.hero-image {
    height: 70vh;
}

.hero-image img {
    height: 100%;
}

/* HERO */

/* Section */
.section-details {
    margin-left: 50px;
}

/* section */

/* Container */
.container {
    margin: 10px;
    padding: 10px;
    min-height: 50vh;
}

.container-title {
    font-size: var(--text-lg);
    text-align: center;
}

/* Container */

.menu-card-list, .gallery{
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.menu-card-list .card {
    margin-bottom: 16px;
}

.gallery-img {
    height: 200px;
    margin: 10px;
    box-shadow: 8px 8px 10px rgba(91, 96, 101, 0.4);
}